<section>
<h1>About Me</h1>
<p><img src="/images/avatar.JPG" alt="Me" align="middle" width="80%"/></br>&nbsp;&nbsp;&nbsp;&nbsp;I was born the summer of '88. Become enthralled by Apple products in 2009 when I got my first iPhone. I do work 9-5 / 7 as an iOS developer in Skopje, Macedonia. Love traveling, meeting new kinds of people and doing some photography. Keen on sans-serif typefaces. 10+K a week runner as well. I have worked as a fry cook in a super busy kitchen in 08243, US and I am proud of that. I do pay attention to details.</p></section>
